* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    padding-left: 66px;
    padding-right: 50px
}

.nav-item{
    padding-left: 110px;
}

.nav-sign-in{
    background-color: white;
    color: #1159D4;
    border-color: #1159D4;
    border-radius: 6px;
    width: 85px;
    height: 38px;
    font-weight: bolder;
}

.nav-sign-up{
    background-color: #1159D4;
    color: white;
    border-radius: 6px;
    border: none;
    width: 97px;
    height: 38px;
    font-weight: bolder;
}

footer{
    background: #1159D4;
    display: flex;
    justify-content: center;
}

.top-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 12px;
    margin-top: 24px;
}

.mid-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.btn p{
    display: inline;
}

.btn-1{
    padding-right: 20px;
}

.btn-2{
    padding-left: 20px;
}

.btn{
    width: 180px;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

#get-started{
    background-color: rgba(163, 236, 27, 0.89);
    color: white;
    font-weight: bold;
    padding-right: 0px;
}


#chat{
    background-color: white;
    color: #1159D4;
    font-weight: bold;
}

.links{
    margin-bottom: 100px;
}

.dots{
    width: 7px;
    height: 9px;
}

.arrows{
    display: inline;
    align-items: right;
    padding-right: 0px;
    padding-left: 30px;
}

.get{
    display: inline;
}

/* @media only screen and (max-width:400px){
    .btn-container{
        display: flex;
        justify-content: center;
    }

    .btn {
        display: block;
    }

} */